h2{
    font-family: sans-serif;
    text-align: center;
    margin:100px;
}
table{
    margin:auto;
}
td
{
    background-color: orange;
    height: 250px;
    width:100px;
    border: 5px solid white;;
}
#one
{
    background-color:#2a9d8f;

}
#two
{
    background-color:#e9c46a ;
}
#three
{
    background-color:#f4a261 ;

}
#four
{
    background-color:#e76f51;

}
#five
{
    background-color:#f07167;
}
